parameters:
	ignoreErrors:
		-
			message: '#^Method Ergebnis\\Json\\Pointer\\Specification\:\:isSatisfiedBy\(\) should return bool but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Specification.php

